{% extends 'base.html' %}
{% load static %}
{% block content %}


        <!-- Header-->
        <header class="bg-dark py-3">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Your Orders</h1>
                    <p class="lead fw-normal text-white-50 mb-0">4 Orders</p>
                </div>
            </div>
        </header>
        
        <!--Orders-->
        <div class="container px-lg-2 mt-5 border">
            <div class="row mx-lg-n2">
                <div class="col py-3 px-lg-2 ">
                    <h1> date</h1>
                    <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/44/44289.png" alt="..." style="width:200px">
                </div>
                <div class="col ml-auto">
                    <br>
                    <h4>Movie name:</h4>
                    <br>
                    <h4>price:</h4>
                    <br>
                    <h4>Status:</h4>
                    <br>
                    <button class="btn btn-outline-success" type="submit">Cancel Order</button>
                    <button class="btn btn-outline-success" type="submit">Review Order</button>
                </div>
            </div>
        </div>

        <div class="container px-lg-2 mt-5 border">
            <div class="row mx-lg-n2">
                <div class="col py-3 px-lg-2 ">
                    <h1> date</h1>
                    <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/44/44289.png" alt="..." style="width:200px">
                </div>
                <div class="col ml-auto">
                    <br>
                    <h4>Movie name:</h4>
                    <br>
                    <h4>price:</h4>
                    <br>
                    <h4>Status:</h4>
                    <br>
                    <button class="btn btn-outline-success" type="submit">Cancel Order</button>
                    <button class="btn btn-outline-success" type="submit">Review Order</button>
                </div>
            </div>
        </div>

        <div class="container px-lg-2 mt-5 border">
            <div class="row mx-lg-n2">
                <div class="col py-3 px-lg-2 ">
                    <h1> date</h1>
                    <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/44/44289.png" alt="..." style="width:200px">
                </div>
                <div class="col ml-auto">
                    <br>
                    <h4>Movie name:</h4>
                    <br>
                    <h4>price:</h4>
                    <br>
                    <h4>Status:</h4>
                    <br>
                    <button class="btn btn-outline-success" type="submit">Cancel Order</button>
                    <button class="btn btn-outline-success" type="submit">Review Order</button>
                </div>
            </div>
        </div>

        <div class="container px-lg-2 mt-5 border">
            <div class="row mx-lg-n2">
                <div class="col py-3 px-lg-2 ">
                    <h1> date</h1>
                    <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/44/44289.png" alt="..." style="width:200px">
                </div>
                <div class="col ml-auto">
                    <br>
                    <h4>Movie name:</h4>
                    <br>
                    <h4>price:</h4>
                    <br>
                    <h4>Status:</h4>
                    <br>
                    <button class="btn btn-outline-success" type="submit">Cancel Order</button>
                    <button class="btn btn-outline-success" type="submit">Review Order</button>
                </div>
            </div>
        </div>

        
        

    </body>
</html>
        {% endblock %}