#mainfocus{
	margin-left:400px;
}
img{
	margin-bottom:30px
}
input{
	margin-left: 50px;
}
select{
	margin-left: 350px;

}
.btn-secondary {
    background-color:steelblue;
    margin-top:60px;
    margin-right:15px;
    padding:15px;
    margin-left:-5px;
}
.btn-primary{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: gray;
    background-color: gray;
}
#closed {
    background-color:red;
     pointer-events: none;
}
.btn-danger {
    background-color:lightred;
    margin-top:60px;
    margin-right:15px;
    padding:15px;
    margin-left:-5px;
}