{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
  <!-- Google Fonts -->
   <section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Add Movie</h2>

                <form id="addmovie-form" method="post"
                  action="addmovie">
                {% csrf_token %}
                  Title *
                  <div class="form-outline mb-4">
                    <input type="text" name="title" class="form-control form-control-lg" placeholder="Example Movie Title"/>
                    <!--<label class="form-label" for="form3Example1cg">Example Movie Title</label>-->
                  </div>
                  <div class="d-flex justify-content-center flex-row-mb-2">
                    <select name="category" id="category_select">
                        <option value="">Category</option>
                        <option value="action">Action</option>
                        <option value="suspense">Suspense</option>
                        <option value="horror">Horror</option>
                        <option value="adventure">Adventure</option>
                        <option value="romance">Romance</option>
                        <option value="comedy">Comedy</option>
                        <option value="thriller">Thriller</option>
                        <option value="documentary">Documentary</option>
                      </ul>
                    <br></br>
                    </select>
                    <select name="category" id="category_select">
                      <option value="">MPAA-US Rating</option>
                      <option value="PG">PG</option>
                      <option value="PG-13">PG-13</option>
                      <option value="R">R</option>
                      <option value="NR">NR</option>
                    <br></br>
                    </select>
                    <select name="category" id="category_select">
                      <option value="">Review Rating</option>
                      <option value="1 Star">*</option>
                      <option value="2 Stars">**</option>
                      <option value="3 Stars">***</option>
                      <option value="4 Stars">****</option>
                      <option value="5 Stars">*****</option>
                    </ul>
                    </select>
                  </div>
                  Director
                  <div class="form-outline mb-4">
                    <input type="text" name="director" class="form-control form-control-lg" placeholder="Example Name"/>
                    <!--<label class="form-label" for="form3Example1cg">Example Name</label>-->
                  </div>
                  Producer
                  <div class="form-outline mb-4">
                    <input type="text" name="producer" class="form-control form-control-lg" placeholder="Example Name"/>
                    <!--<label class="form-label" for="form3Example1cg">Example Name</label>-->
                  </div>
                  Cast
                  <div class="form-outline">
                    <textarea class="form-control" name="actors" rows="4" placeholder="Cast Members"></textarea>
                    <!--<label class="form-label" for="textAreaExample">Cast Members</label>-->
                  </div>
                  Synopsis
                  <div class="form-outline">
                    <textarea class="form-control" rows="4" name="synopsis" placeholder="Example Synopsis"></textarea>
                    <!--<label class="form-label" for="textAreaExample">Example </label>-->
                  </div>
                  Trailer
                  <div class="form-outline">
                    <input type="tel" name="trailerURL" class="form-control" placeholder="URL"/>
                    <!--<label class="form-label" for="trailerURL">URL</label>-->
                  </div>
                  <div class="form-outline">
                    <input type="datetime-local" id="showtime"
                    name="meeting-time" value="2021-06-12T19:30"
                    min="2021-06-07T00:00" max="2030-06-14T00:00">
                      <span class="button">
                            <button type="submit" style="margin:5px"
                                    value={{i.id}} name="delete"{{i.id}} class="btn-small btn-danger btn-rounded" data-mdb-ripple-color="#ffffff"><i class="fas fa-trash"></i></button>
                        </span>
                    <br>
                    <input type="datetime-local" id="showtime"
                    name="meeting-time" value="2021-06-12T19:30"
                    min="2021-06-07T00:00" max="2030-06-14T00:00">
                      <span class="button">
                            <button type="submit" style="margin:5px"
                                    value={{i.id}} name="delete"{{i.id}} class="btn-small btn-danger btn-rounded" data-mdb-ripple-color="#ffffff"><i class="fas fa-trash"></i></button>
                        </span>
                  </div>
                  <button class="btn btn-outline-success" type="submit"
                          style="width:200px;margin-left:125px;margin-bottom:20px"
                          name="addcard" value="addcard">Add Showtime</button>

                  <div class="form-outline mb-4" style="padding-top:30px">
                  </div>
                  <input type="submit" value="Add Movie"
                       class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" />

                  <p class="text-center text-muted mt-5 mb-0">E-Cinema Booking System<a href="#" class="fw-bold text-body"></a></p>

                </form>
                {% if messages %}
        {% for message in messages %}
          <h3>{{message}}</h3>
        {% endfor %}
    {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}