{% extends 'base.html' %}
{% load static %}
{% block content %}

+<head><link rel="stylesheet" href="{% static 'home/css/registration.css' %}"></head>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Admin Page</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Manage Movies and Promotions</p>
                </div>
            </div>
        </header>
        <!-- Section-->

        <section class="py-5" style="padding-left:50px;padding-right:50px">
                    <div class="row ml-auto p-3">
                        <div class="col ml-auto">
                          <form method="GET" action="addmovie">
                          {% csrf_token %}
                              <div class="col ml-auto"><button style="color:red" type="submit" value="add_movie",
                                                               class="btn btn-success btn-block btn-lg gradient-custom-6 text-body">Add Movie</button>

                              </div> </form></div>
                        <div class="col ml-auto">
                          <form method="GET" action="addpromotion">
                          {% csrf_token %}
                              <div class="col ml-auto"><button style="color:red" type="submit" value="add_promotion",
                                                               class="btn btn-success btn-block btn-lg gradient-custom-6 text-body">Add Promotion</button>

                              </div> </form></div>
                        <div class="col ml-auto">
                          <form method="GET" action="schedule">
                          {% csrf_token %}
                              <div class="col ml-auto"><button style="color:red" type="submit" value="schedule",
                                                               class="btn btn-success btn-block btn-lg gradient-custom-6 text-body">Schedule Movie</button>

                              </div> </form></div>

                    </div>
            <div class="row ml-auto p-3">
            <div class="col ml-auto">
                          <form method="GET" action="managemovie">
                          {% csrf_token %}
                              <div class="col ml-auto"><button style="color:red" type="submit" value="schedule",
                                                               class="btn btn-success btn-block btn-lg gradient-custom-6 text-body">Manage Movies</button>

                              </div> </form></div>
                        <div class="col ml-auto">
                          <form method="GET" action="manage">
                          {% csrf_token %}
                              <div class="col ml-auto"><button style="color:red" type="submit" value="schedule",
                                                               class="btn btn-success btn-block btn-lg gradient-custom-6 text-body">Manage Promotions</button>

                              </div> </form></div>
                        <div class="col ml-auto">
                          <form method="GET" action="manage">
                          {% csrf_token %}
                              <div class="col ml-auto"><button style="color:red" type="submit" value="schedule",
                                                               class="btn btn-success btn-block btn-lg gradient-custom-6 text-body">Manage Users</button>

                              </div> </form></div>
            </div>


        </section>

 {% endblock %}
