{% extends 'base.html' %}
{% load static %}
{% block content %}
<head><link rel="stylesheet" href="{% static 'home/css/registration.css' %}"></head>
    <form method="POST" action="/seats">
        {% csrf_token %}

          <div class="col ml-auto">

            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{movie.movie_title}}</h5>
                    <!-- Product price-->
                    <h5 class="fw-bolder">{{movie.price}}</h5>
                </div>
                <div class="text-center">
                {% for date, time in time_list.items %}
                    <div class="text-center">{{date}}</div>
                    <div class="row ml-auto">
                    {% for i  in time %}
                <div class="col ml-auto"><input type="submit" value={{i}}
                       class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" /></div> {% endfor %}
                    </div>{% endfor %}
            </div></br></br>
    <div class="col ml-auto">
        <button style="color:red" type="submit" value="book",
                                     class="btn btn-success btn-block btn-lg gradient-custom-6 text-body">Select Seats</button>

    </div></div></div></form>
{% endblock %}