{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title></title>
        <!-- Favicon-->
   <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
        <!-- Bootstrap icons--><!-- Core theme CSS (includes Bootstrap)-->
  <link rel="stylesheet" href="managemovie.css">
        <link rel="stylesheet" href="../static/home/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>

</head>
<body style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.jpg');">
      <div class="container h-75">
        <div class="row ml-auto">
            <div class="col ml-auto">
            <div class="card">
              <div class="card-body p-5">
                <h3 class="text-uppercase text-center mb-5">Order Summary</h3>
                  <div class="col ml-auto">
                      <div class="row ml-auto">
                          <div class="col ml-auto"><p>Theatre</p></div>
                          <div class="col ml-auto"><p>AMB Movies</p></div>
                          <div class="col ml-auto"><p>Movie</p></div>
                          <div class="col ml-auto"><p>Hawk</p></div>
                    </div>
                      <div class="row ml-auto">
                        <div class="col ml-auto"><p>Show Time</p></div>
                        <div class="col ml-auto"><p>10/02/2021 7:30 PM</p></div>
                        <div class="col ml-auto"><p>Seats</p></div>
                        <div class="col ml-auto"><p>A1,A2,A3</p></div>
                    </div>
                    <button class="btn btn-outline-success" type="submit">Cancel Order</button>
                    <button class="btn btn-outline-success" type="submit">Review Order</button>
                </div>
              </div>
            </div>
          </div></div>
          <br><br>
          <div class = "row ml-auto">
            <div class="col ml-auto">

            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h3 class="text-uppercase text-center mb-5">Checkout</h3>

                    <div class="row ml-auto">
                        <div class="col ml-auto"><p>No.of Tickets</p></div>
                        <div class="col ml-auto"><p>3</p></div>
                    </div>
                    <div class="row ml-auto">
                        <div class="col ml-auto"><p>Tickets Price</p></div>
                        <div class="col ml-auto"><p>$50</p></div>
                    </div>
                    <div class="row ml-auto">
                        <div class="col ml-auto"><p>Taxes</p></div>
                        <div class="col ml-auto"><p>$2.50</p></div>
                    </div>
                    <div class="row ml-auto">
                        <div class="col ml-auto"><p>Total</p></div>
                        <div class="col ml-auto"><p>$57.50</p></div>
                    </div>
                    <div class="form-outline mb-4 row ml-auto">
                        <div class="col ml-auto"><label class="form-label" for="form3Example1cg">Promotion Code</label></div>
                        <div class="col ml-auto"><input type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Promo Code"/> </div>
                    </div>
                    <div class="row ml-auto">
                        <div class="col ml-auto"><p>Discount</p></div>
                        <div class="col ml-auto"><p>$6.00</p></div>
                    </div>
                    <div class="row ml-auto">
                        <div class="col ml-auto"><p>Payment Amount</p></div>
                        <div class="col ml-auto"><p>$51.50</p></div>
                    </div>

                    <button class="btn btn-outline-success" type="submit">Cancel Checkout</button>

              </div>
            </div>
          </div>
            <div class="col ml-auto">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h3 class="text-uppercase text-center mb-5">Payment</h3>
                  <div class="form-outline mb-4 row ml-auto">
                        <div class="col ml-auto">
                            <label class="form-label" for="form3Example1cg">Card Number</label>
                        </div>
                        <div class="col ml-auto">
                            <input type="text" id="form3Example1cg" class="form-control form-control-lg" placeholder="Card Number *"/>
                        </div>
                  </div>
                  <div class="form-outline mb-4 row ml-auto">
                        <div class="col ml-auto"><label class="form-label" for="form3Example1cg">Card Holder Name</label></div>
                        <div class="col ml-auto"><input type="text"  class="form-control form-control-lg" placeholder="Card Holder Name *"/> </div>
                  </div>
                  <div class="form-outline mb-4 row ml-auto">
                        <div class="col ml-auto"><label class="form-label" for="form3Example1cg">CVV</label></div>
                        <div class="col ml-auto"><input type="text"  class="form-control form-control-lg" placeholder="CVV *"/> </div>
                        <div class="col ml-auto"><label class="form-label" for="form3Example1cg">Exp. Date</label></div>
                        <div class="col ml-auto"><select name='expireMM' id='expireMM'>
                                    <option value=''>Month</option>
                                    <option value='01'>01</option>
                                    <option value='02'>02</option>
                                    <option value='03'>03</option>
                                    <option value='04'>04</option>
                                    <option value='05'>05</option>
                                    <option value='06'>06</option>
                                    <option value='07'>07</option>
                                    <option value='08'>08</option>
                                    <option value='09'>09</option>
                                    <option value='10'>10</option>
                                    <option value='11'>11</option>
                                    <option value='12'>12</option>
                                </select></div><div class = "col ml-auto">
                                <select name='expireYY' id='expireYY'>
                                    <option value=''>Year</option>
                                    <option value='20'>2020</option>
                                    <option value='21'>2021</option>
                                    <option value='22'>2022</option>
                                    <option value='23'>2023</option>
                                    <option value='24'>2024</option>
                                </select>
                    <input class="inputCard" type="hidden" name="expiry" id="expiry" maxlength="4"/> </div>
                  </div>

                    <button class="btn btn-outline-success" type="submit">Proceed Payment</button>
                    <button class="btn btn-outline-success" type="submit">Cancel</button>

              </div>
            </div>
          </div>
        </div>
      </div>

<body>
  
<html>
