{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="container h-75">
        <div class="row ml-auto">
            <div class="col ml-auto">
            <div class="card">
              <div class="card-body p-5">
                <h3 class="text-uppercase text-center mb-5">Edit Profile</h3>
                  {% if user.is_authenticated %}
                  <form method="POST" action="changepassword">
                      {% csrf_token %}
                       <div class="col ml-auto">
                  <div class="row ml-auto">
                        <div class="col ml-auto"><p> Password</p></div>

                          <div class="col ml-auto"><button type="submit" value="Change Password",
                                                           class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Change Password</button>

                          </div></div> </div></form>
                  <form method="POST" action="edit_profile">
                      {% csrf_token %}

                  <div class="col ml-auto">

                <div class="row ml-auto">
                        <div class="col ml-auto"><p>Email ID:</p></div>
                        <div class="col ml-auto"><p>{{user.username}}</p></div>
                    </div>
                    <div class="row ml-auto">
                        <div class="col ml-auto"><p>First Name</p></div>
                        <div class="col ml-auto"><input type="text" id="first_name" class="form-control form-control-lg" placeholder={{user.first_name}}> </div>
                    </div>
                      <div class="row ml-auto">
                        <div class="col ml-auto"><p>Last Name</p></div>
                        <div class="col ml-auto"><input type="text"  id="last_name" class="form-control form-control-lg" placeholder={{user.first_name}}> </div>
                    </div>
                      <div class="row ml-auto">
                        <div class="col ml-auto"><p> Address</p></div>
                        <div class="col ml-auto"><input type="text" id="address" class="form-control form-control-lg" placeholder={{user.address}}> </div>
                    </div>
                      <div class="row ml-auto">
                        <div class="col ml-auto"><p> Phone Number</p></div>
                        <div class="col ml-auto"><input type="text" id="phone_number" class="form-control form-control-lg" placeholder={{user.address}}> </div>
                    </div>
                       <div class="row ml-auto">
                        <div class="col ml-auto"><p> Billing Address</p></div>
                        <div class="row mb-4" style="float:left">
                           <div class="form-outline mb-4" style="float:left;width:150px">
                            <input type="text" id="saddress" class="form-control"/>
                            <label class="form-label" for="saddress" style="float:left">Street Address</label>
                          </div>
                         <div class="form-outline mb-4" style="float:left;width:80px">
                           <input type="text" id="aptnumber" class="form-control" />
                            <label class="form-label" for="aptnumber" style="float:left">Apt Number</label>
                         </div>
                        </div>
                        <div class="row mb-4" style="float:left">
                        <div class="form-outline mb-4" style="float:left;width:150px">
                           <input type="text" id="bstate" class="form-control" />
                            <label class="form-label" for="bstate" style="float:left">State</label>
                         </div>
                         <div class="form-outline mb-4" style="float:left;width:100px">
                           <input type="email" id="bzipcode" class="form-control" />
                            <label class="form-label" for="bzipcode" style="float:left">Zip Code</label>
                         </div></div>
                    </div>
                      <div class="row ml-auto">
                        <div class="col ml-auto"><p> Home Address</p></div>
                        <div class="row mb-4" style="float:left">
                           <div class="form-outline mb-4" style="float:left;width:150px">
                            <input type="text" id="aaddress" class="form-control"/>
                            <label class="form-label" for="aaddress" style="float:left">Street Address</label>
                          </div>
                         <div class="form-outline mb-4" style="float:left;width:80px">
                           <input type="text" id="aaptnumber" class="form-control" />
                            <label class="form-label" for="aaptnumber" style="float:left">Apt Number</label>
                         </div>
                        </div>
                        <div class="row mb-4" style="float:left">
                        <div class="form-outline mb-4" style="float:left;width:150px">
                           <input type="text" id="astate" class="form-control" />
                            <label class="form-label" for="astate" style="float:left">State</label>
                         </div>
                         <div class="form-outline mb-4" style="float:left;width:100px">
                           <input type="email" id="azipcode" class="form-control" />
                            <label class="form-label" for="azipcode" style="float:left">Zip Code</label>
                         </div></div>
                    </div>




                      </br></br>

                      <div style="text-align: center;">
                    <button class="btn btn-outline-success" type="submit">Save</button>
                    <button class="btn btn-outline-success" type="submit">Cancel</button></div>

            </div>
                       </form></br></br></br></br>
                  <form method="POST" action="edit_card">
                      {% csrf_token %}
                      <div class="col ml-auto">
                  <div class="row ml-auto">

                          <div class="col ml-auto"><button type="submit" value="Change Card Details",
                                                           class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Change Card Details</button>

                          </div></div> </div>

                  </form>
                  {% else %}
                <p class="text-center text-muted mt-5 mb-0">User Not Logged IN <a href="login" class="fw-bold text-body"><u>Login here</u></a></p>
                      {% endif %}
              </div>

            </div></div></div></div>
        {% endblock %}