{% extends 'base.html' %}
{% load static %}
{% block content %}
<head><link rel="stylesheet" href="{% static 'home/css/registration.css' %}"></head>

  <div class="container h-70 pt-5">
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-center">
            <div class="card" style="height:760px;width:1200px">
              <div class="card-body p-5">
                <h1 class="text-uppercase text-center mb-5">Edit Profile</h1>
                  {% if user.is_authenticated %}

                  <form method="POST" action="edit_profile">
                      {% csrf_token %}

                  <div class="col ml-auto">

                    <div class="row ml-auto py-3">
                        <div class="col ml-auto">
                            <input type="text" id="formControlReadonly" class="form-control form-control-lg" placeholder={{customuser.email}} aria-label={{customuser.email}} readonly>
                            <label for="formControlReadonly">E-Mail</label>
                        </div>
                        <div class="col ml-auto">
                            <input name="phone_number" type="number" id="phone_number" class="form-control form-control-lg" placeholder={{customuser.phone_number}}>
                            <label for="phone_number">Phone Number</label>
                        </div>
                    </div>
                    <div class="row ml-auto py-3">
                        <div class="col ml-auto">
                            <input name="first_name" type="text" id="first_name" class="form-control form-control-lg" placeholder={{customuser.first_name}}>
                            <label for="first_name">First name</label>
                        </div>
                        <div class="col ml-auto">
                            <input name="last_name" type="text"  id="last_name" class="form-control form-control-lg" placeholder={{customuser.last_name}}>
                            <label for="first_name">Last name</label>
                            </div>
                    </div>
                      <div class="row ml-2 pt-2">
                          <div class="col">
                          <p>Billing Address</p>
                          </div>
                        <div class="col">
                          <p>Home Address</p>
                          </div>
                     </div>
                      <div class="row ml-auto">
                        <div class="col ml-auto">
                            <div class="row mb-4" style="float:left">
                           <div class="form-outline mb-4 px-2" style="float:left;width:190px">
                            <input name= "streetAddressBilling" type="text" id="saddress" class="form-control"
                                   placeholder={{customuser.streetAddressBilling}}>
                            <label class="form-label" for="saddress">Street Address</label>
                          </div>
                         <div class="form-outline mb-4 px-2" style="float:left;width:80px">
                           <input name="aptNumberBilling" type="text" id="aptnumber" class="form-control"
                                  placeholder={{customuser.aptNumberBilling}}>
                            <label class="form-label" for="aptnumber">Apt #</label>
                         </div>
                        </div>
                        <div class="row mb-4 px-5">
                        <div class="form-outline mb-4 px-2" style="width:70px">
                           <input name="stateBilling" type="text" id="bstate" class="form-control"
                                  placeholder={{customuser.stateBilling}}>
                            <label class="form-label" for="bstate" >State</label>
                         </div>
                         <div class="form-outline mb-4" style="float:left;width:90px">
                           <input name= "zipCodeBilling" type="number" id="bzipcode" class="form-control"
                                  placeholder={{customuser.zipCodeBilling}}>
                            <label class="form-label" for="bzipcode">Zip Code</label>
                         </div></div>
                        </div>
                        <div class="col ml-auto">
                            <div class="row mb-4" style="float:left">
                           <div class="form-outline mb-4 px-2" style="float:left;width:190px">
                            <input name="streetAddressHome" type="text" id="haddress" class="form-control"
                                   placeholder={{customuser.streetAddressHome}}>
                            <label class="form-label" for="haddress">Street Address</label>
                          </div>
                         <div class="form-outline mb-4 px-2" style="float:left;width:80px">
                           <input name="aptNumberHome" type="text" id="haptnumber" class="form-control"
                                  placeholder={{customuser.aptNumberHome}}>
                            <label class="form-label" for="haptnumber">Apt #</label>
                         </div>
                        </div>
                        <div class="row mb-4 px-5">
                        <div class="form-outline mb-4 px-2" style="width:70px">
                           <input name="stateHome" type="text" id="hstate" class="form-control"
                                  placeholder={{customuser.stateHome}}>
                            <label class="form-label" for="hstate" >State</label>
                         </div>
                         <div class="form-outline mb-4" style="float:left;width:90px">
                           <input name="zipCodeHome"  type="number" id="hzipcode" class="form-control"
                                  placeholder={{customuser.zipCodeHome}}>
                            <label class="form-label" for="hzipcode">Zip Code</label>
                         </div></div>
                        </div>
                    </div>
                    <div >
                          <input type="checkbox" id="promotion" name="promotion">
                        <label for="promotion"> Subscribe for Promotion</label><br>

                    </div>
                      <div style="text-align: center;">

                    <button class="btn btn-success btn-block btn-lg gradient-custom-3 text-body px-2" type="submit">Update</button>

            </div>
                       </div></form></br></br>
                  <div class="col ml-auto p-3">
                      <div class="row ml-auto">
                          <form method="POST" action="changepassword">
                          {% csrf_token %}
                              <div class="col ml-auto"><button style="color:red" type="submit" value="Change Password",
                                                               class="btn btn-success btn-block btn-lg gradient-custom-6 text-body">Change Password</button>

                              </div> </form>
                         <form method="POST" action="edit_card">
                          {% csrf_token %}

                              <div class="col ml-auto"><button type="submit" value="Change Card Details",
                                                               class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Change Card Details</button>

                              </div>

                        </form>
                          </div>
                      </div>
                  </div>
                  {% else %}
                <p class="text-center text-muted mt-5 mb-0">User Not Logged IN <a href="login" class="fw-bold text-body"><u>Login here</u></a></p>
                      {% endif %}
              </div>

            </div></div></div></div>
        {% endblock %}