{% extends 'base.html' %}
{% load static %}
{% block title %}Enter new password{% endblock %}

{% block content %}

<div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Set a new password!</h2>
<form method="POST">
  {% csrf_token %}
    {% if first_name %}

      <p>Hi <b>{{first_name}} </b></p>
        <table>
          <tr><td>Enter your new password</td><td><input  class = "form-control form-control-lg" type="password" name="new_password" id="new_password" maxlength="30" /></td></tr>
         </br><tr><td>Confirm your new password</td><td><input  class = "form-control form-control-lg" type="password" name="reset_password" id="reset_password" maxlength="30" /></td></tr>
          </br></table></br>
    {% else %}
       <div class="form-outline mb-4">
                    <input type="text" id="id_username" class="form-control form-control-lg"
                    name = "username"/>
                    <label class="form-label" for="id_username">Your Email *</label>
                  </div>
    {% endif %}
  <input type="submit" value="Change Password"
                       class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" />

</form>
                <p class="text-center text-muted mt-5 mb-0"><a href="/">E-Cinema Booking System</a></p>
                {% if messages %}
        {% for message in messages %}
          <p>{{message}}</p>
        {% endfor %}
    {% endif %}
              </div></div></div></div></div></div>

{% endblock %}