<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" href="StyleSheet_0.css">
	<meta charset="utf-8">
	<title> Theater Home </title>
</head>

<body>
	<header>
		<h1>  Theater Name  </h1>
	</header>
  
	<nav id="nav_list">
		<ul>
			<li id="firstitem"> <a href="home.html">Home</a> </li>
			<li> <a href="moviesearch.html">Search movies</a></li>
			<li> <a href="promotions.html">Promotions</a> </li>
			<li> <a href="checkout.html">Checkout</a> </li>
			<li> <a class="lastitem">Account</a>
				<ul>
					<li> <a href="login"> login </a> </li>
					<li> <a href="registration.html"> create account </a> </li>
					<li> <a href="edit_profile.html"> edit profile </a> </li>
				</ul>
			</li>
		</ul>
	</nav>
  
	<div id="lower">
	<main>
		<div id="movie">
		<a href="#">
		<img src="shang-chi-poster-marvel.jpg" alt="Logo" width="250" height="300">
		</a>
		<p> Insert Caption </p>
		</div>
		
		<div id="movie">
		<a href="#">
		<img src="shang-chi-poster-marvel.jpg" alt="Logo" width="250" height="300">
		</a>
		<p> Insert Caption </p>
		</div>
		
		<div id="movie">
		<a href="#">
		<img src="shang-chi-poster-marvel.jpg" alt="Logo" width="250" height="300">
		</a>
		<p> Insert Caption </p>
		</div>
		
		<div id="movie">
		<a href="#">
		<img src="shang-chi-poster-marvel.jpg" alt="Logo" width="250" height="300">
		</a>
		<p> Insert Caption </p>
		</div>
	</main>
	</div>
	
	<footer>
		<p> © Movie Company </p>
	</footer>
</body>
<html>
