{% extends 'base.html' %}
{% load static %}
{% block content %}


        <!-- Header-->
        <header class="bg-dark py-3">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Your Order</h1>
                    <p class="lead fw-normal text-white-50 mb-0">3 tickets</p>
                    <br>
                    <button class="btn btn-primary btn-lg" type="submit" style="">Update Order</button>
                </div>
            </div>
        </header>
        
        <!--Orders-->


        
        <hr class="py-2">
        <div class="container px-lg-2 mt-5 ">
            <div class="row mx-lg-n2">
                <div class="col py-3 px-lg-2 ">
                    <h1> Date: 09/20/2021</h1>
                    <img class="card-img-top" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2395517414.webp" alt="..." style="width:200px">
                </div>
                <div class="col ml-auto">
                    <br>
                    <h4>Movie name:  La La Land</h4>
                    <br>
                    <h4>Ticket Price: 5$ adult/ 3$ child<h4>
                    <br>
                    <h4>Price Total:   23$ (4 adult/ 1 child)</h4>
                    <br>
                    <h4>Show Time:  12.23pm</h4>
                    <br>
                    <h4>Location:  233 memorial hall </h4>
                    <br>
                    <h4>Show Room:  4</h4>
                    <br>
                    <h4>Status:  waiting for Checkout</h4>
                    <br>
                   
                    <button class="btn btn-outline-success" type="submit">Cancel Order</button>
                    
                    <button class="btn btn-outline-success" type="submit">Confirm & Proceed to Checkout</button>
                </div>
            </div>
        </div>

        <hr class="py-2">
        

        <div class="container px-lg-2 mt-5 border">
            <div class="row mx-lg-n2">
                <div class="col py-3 px-lg-2 border-right">
                    <h1> Ticket #1</h1>
                </div>
                <div class="col ml-auto">
                    
                    <br>
                    <h4>Ticket Type: adult</h4>
                    <br>
                    <h4>Status:  waiting for Checkout</h4>
                    <br>
                    <h4>code: 4SN20566110</h4>
                    <br>
                    <h4>Seat Number: A1</h4>
                   
                </div>
            </div>
        </div>

        <div class="container px-lg-2 mt-5 border">
            <div class="row mx-lg-n2">
                <div class="col py-3 px-lg-2 border-right">
                    <h1> Ticket #2</h1>
                </div>
                <div class="col ml-auto">
                    
                    <br>
                    <h4>Ticket Type: adult</h4>
                    <br>
                    <h4>Status:  waiting for Checkout</h4>
                    <br>
                    <h4>code: 4SN20566111</h4>
                    <br>
                    <h4>Seat Number: A2</h4>
                </div>
            </div>
        </div>

        <div class="container px-lg-2 mt-5 border">
            <div class="row mx-lg-n2">
                <div class="col py-3 px-lg-2 border-right">
                    <h1> Ticket #3</h1>
                </div>
                <div class="col ml-auto">
                    
                    <br>
                    <h4>Ticket Type: adult</h4>
                    <br>
                    <h4>Status:  waiting for Checkout</h4>
                    <br>
                    <h4>code: 4SN20566112</h4>
                    <br>
                    <h4>Seat Number: A3</h4>
                </div>
            </div>
        </div>

        <div class="container px-lg-2 mt-5 border">
            <div class="row mx-lg-n2">
                <div class="col py-3 px-lg-2 border-right">
                    <h1> Ticket #4</h1>
                </div>
                <div class="col ml-auto">
                    
                    <br>
                    <h4>Ticket Type: adult</h4>
                    <br>
                    <h4>Status:  waiting for Checkout</h4>
                    <br>
                    <h4>code: 4SN20566113</h4>
                    <br>
                    <h4>Seat Number: A4</h4>
                </div>
            </div>
        </div>

        <div class="container px-lg-2 mt-5 border">
            <div class="row mx-lg-n2">
                <div class="col py-3 px-lg-2 border-right">
                    <h1> Ticket #5</h1>
                </div>
                <div class="col ml-auto">
                    
                    <br>
                    <h4>Ticket Type: child</h4>
                    <br>
                    <h4>Status:  waiting for Checkout</h4>
                    <br>
                    <h4>code: 4SN20566114</h4>
                    <br>
                    <h4>Seat Number: A5</h4>
                   
                </div>
            </div>
        </div>

        <br>
        <br>
        

    </body>
</html>
        {% endblock %}