{% extends 'base.html' %}
{% load static %}
{% block content %}


        <!-- Header-->
        <header class="bg-dark py-3">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Your Orders</h1>
                    <p class="lead fw-normal text-white-50 mb-0">{{ length }} orders</p>
                    <br>
                </div>
            </div>
        </header>
        
        <!--Orders-->


        
        <hr class="py-2">

        {% for i in range %}
        <div class="container px-lg-2 mt-5 border">
            <div class="row mx-lg-n2">
                <div class="col py-3 px-lg-2 ">
                    <img class="card-img-top" src="{{posters.i}}" alt="Missing Poster" style="width:200px">
                </div>
                <div class="col ml-auto">
                    <br>
                    <h4>Movie name: {{ orders.i.movie }} </h4>
                    <br>
                    <h4>Price Total:   ${{ orders.i.price }} </h4>
                    <br>
                    <h4>Date and Start Time:  {{ orders.i.show_time }} </h4>
                    <br>
                    <h4>Location:  {{ order.i.showroom }} </h4>
                    <br>
                    <!-- <h4>Status:  </h4>
                    <br>
                    -->
                    <button class="btn btn-outline-success" type="submit">Cancel Order</button>
                </div>
            </div>
        </div>
        {% endfor %}
        <br>
        <br>
        

    </body>
</html>
        {% endblock %}