{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Login</h2>
                 <form id="schedule" method="post" action="/schedule/">
                {% csrf_token %}
                  <h3> List of times </h3>
                   <input type="radio" name="time_slot" id="t0" value="">
                   <input type="radio" name="time_slot" id="t1" value="">
                   <input type="radio" name="time_slot" id="t2" value="">
                   <input type="submit" value="set_time" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
