{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
  <body>
      <main>
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-5">
                    <form id="schedule" method="post" action="/schedule/">
                    {% csrf_token %}
                     <h3 class="text-uppercase text-center mb-5"> List of times </h3>
                      <div>
                        <input type="radio" name="time_slot" id="t0" value="" class="form-check-input">
                        <label class="form-check-label" for="t0">
                          time_1
                        </label><br>
                        <input type="radio" name="time_slot" id="t1" value="" class="form-check-input">
                        <label class="form-check-label" for="t1">
                          time_2
                        </label><br>
                        <input type="radio" name="time_slot" id="t2" value="" class="form-check-input">
                        <label class="form-check-label" for="t2">
                          time_3
                        </label><br>
                      </div>
                      <input type="submit" value="Set Time" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </body>
</html>
{% endblock content %}
