<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="EbookingSchedule" method="post"
      action="schedule">
    {% csrf_token %}
    <div class="form-outline mb-4">
        <!--<input type="text" id="movie_title" class="form-control
        form-control-lg" name="movie_title" required/> -->
        <select name = "movie_title">
            {% for movie_title in all_movie_titles %}
            <option value="{{ movie_title }}">{{ movie_title }}</option>
            {% endfor %}
          </select>
        <!-- <label class="form-label" for="movie_title">Movie Title *</label> -->
    </div>
    <input type="datetime-local" name="date_time" value="2021-06-12T19:30"
                    min="2021-06-07T00:00" max="2030-06-14T00:00" id="rdate">
    <input type="submit" value="Schedule"
           class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"/>
</form>
{% if messages %}
{% for message in messages %}
<h4 class="text-red">{{message}}</h4>
{% endfor %}
{% endif %}
</body>
</html>