{% extends 'base.html' %}
{% load static %}
{% block content %}

      <main>
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-5">
                    <form id="schedule" method="post" action="/schedule">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                      <!--<input type="text" id="movie_title" class="form-control
                      form-control-lg" name="movie_title" required/> -->
                      <h3 class="text-center"> Schedule Movie </h3>
                      <div class="card-body p-5 rounded mt-4 mb-5" style="background-color: rgba(127, 255, 212, 0.322);">
                        
                        <h4 class="text-center"> Movie </h4>
                        <select name = "movie_title"  class="form-select form-select-lg rounded border border-5 border-dark mb-5" aria-label=".form-select-lg example" style="margin-left: 15%;">
                          {% for movie_title in all_movie_titles %}
                          <option value="{{ movie_title }}" style="background-color: white;">{{ movie_title }}</option>
                          {% endfor %}
                        </select>
                        <h4 class="text-center"> Showroom </h4>
                      <select name="showroom"  class="form-select form-select-lg rounded border border-5 border-dark mb-5" aria-label=".form-select-lg example" style="margin-left: 33%;">
                          <option value="1">Showroom 1</option>
                          <option value="2">Showroom 2</option>
                          <option value="3">Showroom 3</option>
                      </select>
                      <!-- <label class="form-label" for="movie_title">Movie Title *</label> -->
                      <h4 class="text-center"> Schedule Movie </h4>
                      <input type="datetime-local" name="date_time" value="2021-12-12T19:45"
                                  min="{{ current_time }}" max="2030-06-14T00:00" id="rdate" class="rounded" style="margin-left: 16%;" >
                    </div>
                      <input type="submit" value="Set Time" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                      </form>
                      {% if messages %}
                      {% for message in messages %}
                        <h3 class="text-red text-center">{{message}}</h3>
                      {% endfor %}
                      {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div></div>
      </main>
      <!-- Footer-->
      <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>
{% endblock content %}
