{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="vh-100" style="background-image: url('https://i.pinimg.com/originals/cd/65/20/cd6520327ff4d0bde2bf7850c2e830a5.jpg');">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="{% static 'home/css/searchResults.css' %}">
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100" style="max-width:1500px">
            <div class="row d-flex h-100" style="max-width:1500px">
                <div class="col-12 col-xl-12"style="margin-top:100px">
                    <div class="card" style="border-radius: 15px;margin-top:50px">
                        <div class="card-body p-5">
              
                            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                                {% if movie_list.movie_count == 0 %}
                                    <p> Oops, we cannot find related video in our system</p>
                                {% else %}
                                    {% for movie in movie_list.movie%}
                                        
                                        <div class="col mb-5">
                                            <div class="card h-100">
                                            <!-- Product image-->
                                            <img class="card-img-top" src='{{movie.image_link}}' alt="..." />
                                            <!-- Product details-->
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <!-- Product name-->
                                                    <h5 class="fw-bolder">{{movie.movie_title}}</h5>
                                                    <!-- Product price-->
                                                    $40.00 - $80.00
                                                </div>
                                            </div>
                                            <!-- Product actions-->
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Book Tickets</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% endif %}
                                    
                            </div>
                  
                  
                            <p class="text-center text-muted mt-5 mb-0"><a href="/">E-Cinema Booking System</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
