{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	    <link rel="stylesheet" href="{% static 'home/css/seats.css' %}">
</head>
<body>
  <header>

  </header>
  <main>
  <div>
	<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="card" style="border-radius: 15px;">
                <div class="mask" style="background-color: black;">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white" method="post">
			{% csrf_token %}
			{% for i in movie %}
          <h1 class="mb-3"> {{i.movie_title}} </h1>
			{% endfor %}
        </div>
      </div>
    </div>
              <div class="card-body p-5" style="display: block;
    margin-left: auto;
    margin-right: auto;">

                  <div>
                      <h1 style="text-align:center">Select Seats</h1>
                      <h2 style="text-align:center">Tickets: <small class="text-muted">2</small></h2>
                  </div>
				<div>
					<table style="display:inline">
						<tr>
                            </td>
                            <td style="width:60px">
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check2" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check2" style="500px">Seat</label>
							</td>
                            </td>
                            <td style="width:60px">
							</td>
							<td>
								<input type="checkbox" class="btn-check" id="btn-check3" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check3" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check4" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check4" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check5" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check5" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check6" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check6" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check7" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check7" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check8" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check8" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check9" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check9" id="open" style="500px">Seat</label>
							</td>
                            <td style="width:60px">
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check10" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check10" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check11" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check11" style="500px">Seat</label>
							</td>
						</tr>
                        <tr>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            </td>
                            <td style="width:60px">
							</td>
							<td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" id="closed" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td style="width:60px">
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
						</tr>
                        <tr>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            </td>
                            <td style="width:60px">
							</td>
							<td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td style="width:60px">
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
						</tr>
                        <tr>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            </td>
                            <td style="width:60px">
							</td>
							<td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td style="width:60px">
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
						</tr>
                        <tr>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" id="closed" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            </td>
                            <td style="width:60px">
							</td>
							<td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" id="closed" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" id="closed" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" id="closed" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" id="closed" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td style="width:60px">
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
						</tr>
                        <tr>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            </td>
                            <td style="width:60px">
							</td>
							<td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td style="width:60px">
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
                            <td>
								<input type="checkbox" class="btn-check" id="btn-check" autocomplete="off"/>
								<label class="btn btn-primary" for="btn-check" style="500px">Seat</label>
							</td>
						</tr>
					</table>
				</div>
						<input type="button" class="btn btn-secondary" name="save" value="Reserve Selected Seats">
							<input type="button" class="btn btn-danger" name="cancel" value="Cancel">
						</form>
						</div>
				</div>
			</div>
		</div>
	</div>
	</section>
  </main>
  <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<body>

<html>
	{% endblock content %}