{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
  <header>
    
  </header>
  <main>
    <img src="seating_diagram.png" width="500" height="600">
    <form id="info">
      <label name="selectseat" value="Select Seat">
		  <select name="seatnumber" id="seatnumber">
        <option name="s0"> A1 </option>
        <option name="s1"> A2 </option>
        <option name="s2"> A3 </option>
      </select>
        <input type="button" name="save" value="Save Spot">
        <input type="button" name="cancel" value="Cancel">
    </form>
  </main>
  <footer>
    
  </footer>
<body>
  
<html>
