{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	    <link rel="stylesheet" href="{% static 'home/css/seats.css' %}">
</head>
<body>
  <header>

  </header>
  <main>
  <div>
	<section class="vh-100 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">

        <div class="row d-flex justify-content-center align-items-center h-100">

            <div class="card" style="border-radius: 15px;">
                <div class="mask" style="background-color: black;">
      <div class="d-flex justify-content-center align-items-center h-100">

        <div class="text-white">
			{% csrf_token %}
			{% for i in movie %}
          <h1 class="mb-3"> {{i.movie_title}} </h1>
			<h1 class="mb-3"> {{show_room}} </h1>
			{% endfor %}
        </div>
      </div>
    </div>
              <div class="card-body p-5" style="display: block;
    margin-left: auto;
    margin-right: auto;">
				 <form method="post" action="/seats/?movie_title={{title}}&date={{date}}&time={{time}}&show_room={{show_room}}&slot={{slot}}">
					 {% csrf_token %}
                  <div>
                      <h1 style="text-align:center">Select Seats</h1>
                  </div>

					<div class="container px-4 px-lg-5 mt-5">
                        <div class="row row-cols-{{column_count}} justify-content-center">
                            {% for i in column_count_range %}
                            <div class="col">
                                <input type="checkbox" class="btn-check" id={{i}}  name={{i}} autocomplete="off" disabled/>
								<label class="btn btn-primary" for={{i}} style="500px; background:{{orange}};">Column {{i}}</label>
                        </div>{% endfor %}</div>
                <div class="row row-cols-{{column_count}} justify-content-center">

                        {% for t in seats_list %}
                        {% for ticket, color in t.items %}

						 <div class="col mb-2">
                            {% if color == 'red' %}
								<input type="checkbox" class="btn-check" id={{ticket}} name={{ticket}} autocomplete="off" disabled/>
								<label class="btn btn-primary" for={{ticket}} style="500px; background:{{color}};">&emsp;{{ticket}}&emsp;</label>
                             {% else %}
                             <input type="checkbox" class="btn-check btn-check-after background:orange" id={{ticket}} name={{ticket}} autocomplete="off"/>
								<label class="btn btn-primary" for={{ticket}} style="500px;">&emsp;{{ticket}}&emsp;</label>
                             {% endif %}
                        </div>
							{% endfor %}

                    {% endfor %}</div>
					</div>
                     {% for ik, price in ticket_cat_list.items %}
                     <div class="form-outline mb-4 row ml-auto">

                        <div class="col ml-auto"><label class="form-label" for={{ik}} >Num of Tickets for {{ik}}</label></div>
                        <div class="col ml-auto"><input type="text" name={{ik}} id={{ik}} class="form-control form-control-lg" placeholder={{price}} > </div>
                    </div>
                    {% endfor %}
				 <input type="submit" value="Reserve"
                       class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" /></form>
				  <form method="POST" action="checkout">
				 <div class="col ml-auto text-center">
                    <a class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" href='\checkout\?movie_title={{title}}&date={{date}}&time={{time}}&show_room={{show_room}}&seat_list={{seat_list}}&slot={{slot}}&tp={{ticket_price}}'>checkout</a>
                                </div>

				  </form>

						<!--div class="col ml-auto text-center">
                    <a class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" href='\checkout\?movie_title={{title}}&date={{date}}&time={{time}}&show_room={{show_room}}'>Reserve</a>
                                </div>-->
						</div>
                {% for message in messages %}
          <h3 class="text-red">{{message}}</h3>
        {% endfor %}
				</div>
			</div>
		</div>
	</div>
	</section></div>
  </main>
  <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>

	{% endblock content %}